@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 97%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 23px 23px 44px #717171,
  -23px -23px 44px #e1e1e1; /*ou 717171*/
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 blueviolet;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #5956e9, #a963f8);
  border-radius: 30px;
  transition: .5s;
}

#penden {
  left: 25px;
  transition: 2s;
}

#pagos {
  left: 5000px;
  transition: 1s;
}

.tabela {
    border: 2px solid #000;
}

td {
    padding: 15px 50px 15px 8px;
    border: 1px solid #000;
}

p {
    font-size: 1.5rem;
}