body {
    font-family: Arial, sans-serif;
}

#sabores {
    margin-bottom: 20px;
}

#sabores select, #sabores input[type="number"] {
    margin-right: 10px;
}

#lista-pedidos {
    list-style-type: none;
    padding: 0;
}

#lista-pedidos li {
    margin-bottom: 5px;
}
