@charset "UTF-8";

/*Formatação do Corpo*/

body{
	/*Colocar cor fundo preto e letras claras*/
	 background-color: #000;
	color: #FFF;
}

/*====================================================*/
/*Formatação do Cabeçalho*/

header#cabecalho{
	/*Colocar cor no fundo da página=preto*/
	background-color: #000;
	/*
		Colocar Margin no header
			Margin superior = -20
			Margin direita = automática
			Margin Inferior = 0
			Margin Esquerda = automática
	*/
	margin: -20px auto 0px auto;
	/*
		Colocar Sobreamento no Header
			Deslocamento Para Direita=0
			Deslocamento Para Superior=0
			Profundidade=10px
			Cor=Preto Com 50%
	*/
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
	/*
		Distanciamento do Objeto Em Relação a Margin
			Distanciamento=20px
	*/
	padding: 20px;
	/*Altura do Header=60px*/	
	height: 60px;
}

/*====================================================*/
/*Formatação da Imagem*/

img#imgLogo{
	/*Altura da Imagem=80px*/	
	height: 80px;
	/*Largura da Imagem=100px*/
	width: 100px;
	/*Alinhamento a Esquerda=0px*/
	left: 0px;
	/*Alinhamento Superior=0px*/
	top: 0px;
	/*Posição Absoluta Dentro do Seu Container*/
	position: absolute;
}

/*====================================================*/
/*Formatação dos Títulos*/

div#titulo h1{
	/*Alinhamento a Esquerda=85px*/
	left: 85px;
	/*Alinhamento Superior=-5px*/
	top: -5px;
	/*Posição Absoluta Dentro do Seu Container*/
	position: absolute;
	/*Fonte do Título=Inknut Antiqua*/
	font-family: 'Inknut Antiqua', serif;
	/*Tamanho da Fonte é Duas Vezes Maior Que Seu Ancestral*/
	font-size: 2em;
	/*Colocar Todo Título Em Maiúsculo*/
	text-transform: uppercase;
	/*Colocar a Fonte na Cor branca*/
	color: white;
	/*
		Colocar Um Sobreamento no Texto
			Deslocamento Para Direita=2px
			Deslocamento Para Superior=2px
			Cor=Prata
	*/
	text-shadow: 2px 2px silver;
}

div#titulo h2{
	/*Alinhamento a Esquerda=85px*/
	left: 85px;
	/*Alinhamento Superior=35px*/
	top: 35px;
	/*Posição Absoluta Dentro do Seu Container*/
	position: absolute;
	/*Fonte do Título=Inknut Antiqua*/
	font-family: 'Inknut Antiqua', serif;
	/*Tamanho da Fonte é Uma Vez Maior Que Seu Ancestral*/
	font-size: 1em;
	/*Colocar Todo Título Em Maiúsculo*/
	text-transform: uppercase;
	/*Colocar a Fonte na Cor branca*/
	color: white;
	/*
		Colocar Um Sobreamento no Texto
			Deslocamento Para Direita=2px
			Deslocamento Para Superior=2px
			Cor=Prata
	*/	
	text-shadow: 2px 2px silver;
}

/*====================================================*/
/*Formatação do Menu*/

nav#menu ul{
	/*Visualizar Menu Em Bloco*/
	display: block;
}

nav#menu ul{
	/*Retirar os Marcadores da Lista*/
	list-style: none;
	/*Colocar Todos Itens Em Maiúsculos*/
	text-transform: uppercase;
	/*Posição Absoluta Dentro do Seu Container*/
	position: absolute;
	/*Alinhamento Superior=40px*/
	top: 40px;
	/*Alinhamento a Esquerda=400px*/
	left: 400px;
}

nav#menu li{
	/*Exibir Todos os Itens Em Linha*/
	display: inline-block;
	/*Cor do Fundo dos Itens=Branco*/
	background-color: #dddddd;
	/*Espaçamento Interno=5px*/
	padding: 5px;
	/*Margem de Um Item ao Outro=1px*/
	margin: 1px;	
	/*Transição da Propriedade Background é 1 Segundo*/
	transition: background-color 1s;
}

nav#menu li:hover{
	/*Muda Cor do Fundo Para Prata Quando Passar o Mouse Em Cima*/
	background-color: #606060;
}

nav#menu a{
	/*Cor das Ancoras=Preta*/
	color: #000000;
	font-weight:bold;
	/*Retira o Hiperlink*/
	text-decoration: none;
	/*Transição da Propriedade Color é 1 Segundo*/
	transition: color 1s;
}

nav#menu a:hover{
	/*Muda Cor Para Branca Quando Passar o Mouse Em Cima*/
	color: #ffffff;
	font-weight:bold;
}

/*Corpo principal da Página */
main#principal{
	/*Mudar cor do fundo para branco*/
	background-color: black;
	/*Alinhamento superior=115px*/
	top: 115px;
	/*
		Colocar Margin no header
			Margin superior = -20
			Margin direita = automática
			Margin Inferior = 0
			Margin Esquerda = automática
	*/
	margin: -20px auto 0px auto;
	/*
		Colocar Sobreamento no Main
			Deslocamento Para Direita=0
			Deslocamento Para Superior=0
			Profundidade=10px
			Cor=Preto Com 50%
	*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	/*Espaçamento interno=20px */
	padding: 20px;
	/*Altura de main=393px */
	height: 393px;
	/*Comprimento de main=950px */
	width: 950px;
	/*Posição absoluta dentro do seu container */
	position: absolute;
}	

main#principal section#noticia img#imgPrincipal{
	/*Comprimento da Imagem=400px */
	width: 400px;
	/*Altura da Imagem=433px */
	height: 433px;
	/*Espaçamento interno da Imagem=0px */
	padding: 0px;
	/*Posição absoluta dentro do seu container*/
	position: absolute;
	/*Alinhamento superior =0px*/
	top: 0px;
	/*Alinhamento a esquerda =0px*/
	left: 0px;
}

aside#complemento{
		/*Posição absoluta dentro do seu container */
		position: absolute;
		/*comprimento de aside=500px */
		width: 550px;
		/*alinhamento a esquerda=410px */
		left: 410px;
}		
		
aside#complemento h1{
		/*Fonte do titulo=arial */
		font-family: "Arial";
		/*Tamanho da fonte=20pt */
		font-size: 20pt;
		/*Cor do titulo=preto */
		color: white;
		/*Margin-top=0px */
		margin-top: 0px;
}		

aside#complemento h2{
		/*Muda cor do fundo para preto */
		background-color: #000000;
		/*Tamanho da fonte=13pt */
		font-size: 13pt;
		/*Cor do titulo=branco*/ */
		color: #ffffff;
		/*Espaçamento interno=5px */
		padding: 5px;
}		

aside#complemento p{
		/*Alinhamento do texto=justificado */
		text-align: justify;
		/*Identação da primeira linha do parágrafo=25px*/
		text-indent: 25px;
}		

div#musica img#imgMusica{
		/*Comprimento da imagem=200px*/
		width: 200px;
		/*Altura da imagem=200px*/
		height: 200px;
		/*Espaçamento interno=0px*/
		padding: 0px;
		/*Posição absoluta dentro do seu container*/
		position: absolute;
		/*Alinhamento superior=450px*/
		top: 450px;
		left: 0px;
}

div#musica figure.foto-legenda figcaption{
	/*Opacidade=0*/
	opacity: 0;
	/*Posição absoluta dentro do seu container*/
	position: absolute;
	/*Alinhamento superior=450px*/
	top: 450px;
	/*Alinhamento a esquerda=0px*/
	left: 0px;
	/*Muda cor de fundo para preto com 40% de alfa*/
	background-color: rgba(0,0,0,0.4);
	/*Cor do título=Branco*/
	color: white;
	/*Comprimento da figcaption=200px*/
	width: 200px;
	/*Altura do figcaption=200px*/
	height: 200px;
	/*Espaçamento interno=10px*/
	padding: 10px;
	/*Tamanho do box até borda do box*/
	box-sizing: border-box;
	/*Transição da opacidade de 0 para 1 em um segundo*/
	transition: opacity 1s;
}

div#musica figure.foto-legenda:hover figcaption{
	/*
	 Transição da Opacidade de 0 para 1 em um segundo
	 Quando passar o mouse por cima
	 */
	 opacity: 1;
}	 


div#musico img#imgMusico{
	/*Comprimento da Imagem=200px*/
	width: 200px;
	/*Altura da Imagem=200px*/
	height: 200px;
	/*Espaçamento Interno=0px*/
	padding: 0px;
	/*Posição Absoluta Dentro do Seu Container*/
	position: absolute;
	/*Alinhamento Superior=450px*/
	top: 450px;
	/*Alinhamento a Esquerda=350px*/
	left: 350px;
}


		
div#musico figure.foto-legenda figcaption{
	/*Opacidade=0*/
	opacity: 0;
	/*Posição absoluta dentro do seu container*/
	position: absolute;
	/*Alinhamento superior=450px*/
	top: 450px;
	/*Alinhamento a esquerda=0px*/
	left: 350px;
	/*Muda cor de fundo para preto com 40% de alfa*/
	background-color: rgba(0,0,0,0.4);
	/*Cor do título=Branco*/
	color: white;
	/*Comprimento da figcaption=200px*/
	width: 200px;
	/*Altura do figcaption=200px*/
	height: 200px;
	/*Espaçamento interno=10px*/
	padding: 10px;
	/*Tamanho do box até borda do box*/
	box-sizing: border-box;
	/*Transição da opacidade de 0 para 1 em um segundo*/
	transition: opacity 1s;
}		
		
div#musico figure.foto-legenda:hover figcaption{
	/*
	 Transição da Opacidade de 0 para 1 em um segundo
	 Quando passar o mouse por cima 
	 */
	 opacity: 1;
}	 

div#letra img#imgLetra{
	/*comprimento da Imagem=200px*/
	width: 200px;
	/*altura da Imagem=200px*/
	height: 200px;
	/*Espaçamento interno=0px*/
	padding: 0px;
	/*Posição absoluta dentro do seu container*/
	position: absolute;
	/*Alinhamento superior=450px*/
	top: 450px;
	/*Alinhamento a esquerda=700px*/
	left: 700px;
}	

div#letra figure.foto-legenda figcaption{
	/*Opacidade=0*/
	opacity: 0;
	/*Posição absoluta dentro do seu container*/
	position: absolute;
	/*Alinhamento superior=450px*/
	top: 450px;
	/*Alinhamento a esquerda=700px*/
	left: 700px;
	/*Muda a cor do fundo para preto com 40% de alfa*/
	background-color: rgba(0,0,0,0.4);
	/*Cor do título=Branco*/
	color: white;
	/*Comprimento da figcaption=200px*/
	width: 200px;
	/*Altura da figcaption=200px*/
	height: 200px;
	/*Espaçamento interno=10px*/
	padding: 10px;
	/*tamanho do box até a borda do box*/
	box-sizing: border-box;
	/*transição da opacidade de 0 para 1 em um segundo*/
	transition: opacity 1s;
}	
	
div#letra figure.foto-legenda:hover figcaption{
	/*
		Transição da opacidade de 0 para 1 em um segundo
		Quando passar o mouse por cima
	*/
	opacity: 1;
}	

/*Rodapé */

footer{
	/*Mudar cor do fundo para preto */
	background-color:black;
	/*Posição absoluta dentro do seu container */
	position:absolute;
	/*Alinhamento superior=780px */
	top: 780px;
	/*Comprimento do footer=990px */
	width:990px;
	/*Altura do footer=70px */
	height:70px;
	/*
	 Colocar sombreamento no footer
		deslocalmento para direita=0
		deslocamento para superior=0
		profundidade=10px
		cor=preto com 50%
	*/
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

footer#rodape address#endereco{
	/*Posição absoluta dentro do seu container */
	position:absolute;
	/*Cor do Address=Branco */
	color: white;
	/*Espaçamento interno=10px */
	padding:10px;
	/*Alinhamento superior=0px */
	top:0px;
}	

footer#rodape div#contato{
	/*Posição absoluta dentro do seu container*/
	position:absolute;
	/*Cor do Address=Branco */
	color:white;
	/*Espaçamento interno=10px */
	padding:10px;
	/*Alinhamento superior=0px */
	top:0px;
	/*Alinhamento a esquerda=400px */
	left:400px;
}

footer#rodape div#redeSocial{
	/*Posição absoluta dentro do seu container*/
	position:absolute;
	/*Alinhamento a esquerda=900px*/
	left:900px;
	/*Alinhamento Superior=15px*/
	top:15px;
}

footer#rodape div#redeSocial img#face{
	/*comprimento da imagem=30px*/
	width:30px;
	/*altura da imagem=30px*/
	height:30px;
}	
	

footer#rodape div#redeSocial img#twitter{
	/*comprimento da imagem=30px*/
	width:30px;
	/*altura da imagem=30px*/
	height:30px;
}	
	
footer#rodape div#direito{
	/*Posição absoluta dentro do seu container*/
	position:absolute;
	/*Cor do texto=Branco*/
	color:white;
	/*Espaçamento interno=10px*/
	padding:10px;
	/*Alinhamento superior=40px*/
	top:40px;
	/*Alinhamento a esquerda=40px*/
	left:300px;
	/*Tamanho da fonte é 0.8 vezes maior que seu ancestral*/
	font-size:0.8em;
	/*Estilo da fonte=Itálico*/
	font-style:italic;
}	
	
	
	
	
	







