/*A PRIMEIRA VISTA DO USUARIO*/ 
.container{
  max-width: 1200px;
  margin:0 auto;
  padding: 3rem 2rem;
}
 
.container .title{
  font-size: 3.5rem;
  color:#ffffff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.container .products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
}

.container .products-container .product{
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img{
  height: 25rem;
  width: 25rem;
}

.container .products-container .product:hover img{
  transform: scale(.9);
}

.container .products-container .product h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:#444;
}

.container .products-container .product:hover h3{
  color:#27ae60;
}

.container .products-container .product .price{
  font-size: 2rem;
  color:#444;
}

@media (max-width:990px){
  html{
    font-size: 55%;
  }
}

@media (max-width:768px){
   .products-preview .preview img{
      height: 25rem;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
}





/*MEIO QUE O "HOVER ONDE VAI EM ADD LISTA E TALS"*/
.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:2rem;
  width: 40rem;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview img{
  height: 28em;
  width: 35rem;
}

.products-preview .preview .bi-x-circle{
  position: absolute;
  top: 0.4rem; 
  right: 0.2rem;
  cursor: pointer;
  color:#444;
  font-size: 3rem;
  animation: float 8s ease-in-out infinite;
}

.products-preview .preview .bi-x-circle:hover{
  transform: rotate(90deg);
}

@keyframes float {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-5px);
}
}

.products-preview .preview h3{
  color:#444;
  padding:.5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars{
  padding:1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i{
  color:#27ae60;
}

.products-preview .preview .stars span{
  color:#999;
}

/*QUANDO TIVER A AVALIAÇÃO EM PHP*/
/*.estrelas input[type=radio]{
  display: none;
}.estrelas label i.fa:before{
   content: '\f005';
   color: #FC0;
}.estrelas  input[type=radio]:checked  ~ label i.fa:before{
   color: #CCC;
} */

.products-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

.products-preview .preview .secao span{
cursor: pointer;
}

.products-preview .preview .secao span i {
font-size: 2.5rem;
} 

.products-preview .preview .price{
  padding:1rem 0;
  font-size: 2.5rem;
  color:#27ae60;
}

.products-preview .preview .buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:#444;
  border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
  background: #444;
  color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
  background: #111;
}

.products-preview .preview .buttons a.buy {
  background: #36da7a;
  color: #111;
  font-size: large;
}

.products-preview .preview .buttons a.buy:hover{
  background: #444;
  color:#fff;
}

.products-preview .preview .buttons .btnFechar{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:#ffffff;
  border:.1rem solid #444;
  background: #ff0000;
}

.products-preview .preview .buttons .btnFechar:hover{
  background: #8f0505;
}





/*CARD 2-CONTAINER_CARD*/
.col{
   margin: 20px 0;
}

.containerCard {
   display: flex;
   align-items: center;
   /* justify-content: center; */
}
 
.card {
  width: 290px;
  height: 354px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  overflow: visible;
}

.card:hover {
box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card2 {
  width: 290px;
  height: 354px;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all .2s;
  overflow: visible;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card2 .delay1 {
    animation: backInDown 1s ease-in-out 400ms;
}

.card2 .delay2 {
    animation: backInDown 1.5s ease-in-out 400ms;
}

.card2 .delay3 {
    animation: backInDown 2s ease-in-out 400ms;
}

.card2 .delay4 {
    animation: backInDown 2.5s ease-in-out 400ms;
}

.card2 .delay5 {
    animation: backInDown 3s ease-in-out 400ms;
}

.card2 .delay6 {
    animation: backInDown 3.5s ease-in-out 400ms;
}

.contentMenu {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

/* 
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
} */

.contentMenu.delay1.animate__animated.animate__backInDown.remover,
.contentMenu.delay2.animate__animated.animate__backInDown.remover,
.contentMenu.delay3.animate__animated.animate__backInDown.remover,
.contentMenu.delay4.animate__animated.animate__backInDown.remover,
.contentMenu.delay5.animate__animated.animate__backInDown.remover,
.contentMenu.delay6.animate__animated.animate__backInDown.remover{
  transform: rotateY(180deg);
}

.card:hover .contentMenu {
  transform: rotateY(180deg);
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front .front-content legend>h2 {
font-size: 2.3rem;
font-weight: bolder;
}

.front .front-content ul>li {
font-size: 1.5rem;
font-weight: 800;
margin: 5px 0px;
cursor: help;
}

.front .front-content ul>li span {
position: relative;
left: 15px;
}

.front .front-content ul>li span .bi.bi-info-circle {
font-size: 1.7rem;
}

.front .front-content ul>li:hover {
color: red;
}

.front .front-content .row .col-6 button {
  position: relative;
  margin: 0;
  padding: 10px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.front .front-content .row .col-6 button span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
}

.front .front-content .row .col-6 button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.front .front-content .row .col-6 button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
 
@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.front .front-content .row .col-6 .btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.front .front-content .row .col-6 .btn-shine span {
  z-index: 20;
}

.front .front-content .row .col-6 .btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.front .front-content .row .col-6 .btn-shine:hover:after {
  left: 120%;
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-content i {
  font-size: 100px;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .container.text-center .circle,
.products-preview .circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
} */

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}





/*BOTÃO DE MAIS OPÇÕES*/
.botaoDesactive {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999; /* Para garantir que esteja acima de outros elementos */
  height: 28%;
  width: 14%;
}

.botaoDesactive .botaoMais {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
}

body.ative {
  background: #000000;
}

body.ativeNebus {
  background: red;
}

#lua, #luaNuv{
  display: none;
}

.botaoMais .circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--night-rider);
  transition: 0.2s;
  text-align: center;
}

.botaoMais .circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

.botaoMais .circle:hover {
  cursor: pointer;
  background-color: var(--night-rider);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.botaoMais .circle .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(180deg);
}

.botaoMais .subs {
  left: -20px;
  top: -50px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.sub-circle {
  z-index: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border: none;
}

.sub-circle a {
  background-color: var(--eer-black);
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: .5s;
}

.sub-circle a:hover {
  cursor: pointer;
  background-color: var(--eer-black);
}

.sub-circle .hidden-sub-trigger {
  display: none;
}

.sub-circle .hidden-sub-trigger:checked ~ a {
  background-color: var(--black);
}

.botaoMais .hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  transform: scale(0.9);
  cursor: pointer;
  background-color: var(--black);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(45deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(0px, -100px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(75px, -75px) scale(1);
  opacity: 1;
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(100px, 0px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(4) {
  transform: translate(75px, 75px) scale(1);
  opacity: 1;
  transition: 0.4s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(5) {
  transform: translate(0px, 100px) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(6) {
  transform: translate(-75px, 75px) scale(1);
  opacity: 1;
  transition: 0.6s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(7) {
  transform: translate(-100px, 0px) scale(1);
  opacity: 1;
  transition: 0.7s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(8) {
  transform: translate(-75px, -75px) scale(1);
  opacity: 1;
  transition: 0.8s;
}